{% extends 'base.html' %} {% load static %} {% block content %}
<h1>About Coffee Diary</h1>
<hr />
<img
  src="{% static 'images/coffee-setup.jpg' %}"
  alt="Coffee Setup"
  class="about-image"
/>
<p class="page-content">
  The Coffee Diary app is your personal companion on the journey to discovering
  the perfect cup. Whether you're a casual sipper or a true coffee aficionado,
  this app lets you easily track the coffees you've bought and tasted at home.
  With each entry, you can jot down your thoughts, ratings, and favorite brewing
  methods. It’s the perfect way to look back on your coffee journey and remember
  which beans made your mornings better and which ones... not so much. Enjoy the
  process, and find your next favorite brew with ease!
</p>
{% endblock %}
